<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>HTML Basics</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>

<body>
  <div id="wrapper">
    <div id="main">
      <div id="container">
        <div id="content" role="main">
          <img src="{% static 'main/logo.jpg' %}" alt="NULP-Logo" id="homeid">
          <h1>HTML Elements</h1>
          <hr>
          <nav>
            <a href="#homeid">Home</a>
            <a href="#heads">Headers</a>
            <a href="#tables">Table</a>
            <a href="#list">List</a>
            <a href="#formats">Text formats</a>
            <a href="#blockq">Blockquotes</a>
            <a href="about/">About</a>
            <a href="contact/">Contact</a>
            <a href="information/">Information</a>
          </nav>
          <hr>
          <p>Pay attention to h1 tag inside section element. Font-size for h1 is the same as font-size for h2, because
            we have to use only one h1 on the page, and it is commonly used inside header</p>
          <h2 id="heads">Header 2</h2>
          <h3>Header 3</h3>
          <h4>Header 4</h4>
          <h5>Header 5</h5>
          <h6>Header 6</h6>
          <hr>
          <p>Lorem ipsum dolor sit amet, <a href="#test">test link</a> adipiscing elit. <strong>This is strong.</strong>
            Nullam dignissim convallis est. Quisque aliquam. <em>This is emphasized.</em> Donec faucibus. Nunc iaculis
            suscipit dui. 5<sup>3</sup> = 125. Water is H<sub>2</sub>O. Nam sit amet sem. Aliquam libero nisi, imperdiet
            at, tincidunt nec, gravida vehicula, nisl. <cite>The New York Times</cite> (That’s a citation).
            <u>Underline.</u>Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante.
            Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
            <br><br>
            <abbr title="HyperText Markup Language">HTML</abbr> and <abbr title="Cascading Style Sheets">CSS</abbr> are
            our tools. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in,
            nunc. Morbi imperdiet augue quis tellus. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat
            justo, eu volutpat enim diam eget metus. To copy a file type <code>COPY</code> <i>filename</i>.
            <strike>Dinner`s at 5:00 .</strike><mark>Let’s make that 7.</mark> This <strike>text</strike> has been
            struck.
          </p>
          <hr>
          <h2 id="tables">Table</h2>
          <table>
            <tr>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
            <tr>
              <td>Lviv</td>
              <td>Kyiv</td>
              <td>Kharkiv</td>
            </tr>
            <tr>
              <td>Odessa</td>
              <td>Zhytomyr</td>
              <td>Dnipropetrovsk</td>
            </tr>
            <tr>
              <td>Sumy</td>
              <td>Chernivtsi</td>
              <td>Lutsk</td>
            </tr>
          </table>
          <h2 id="list">Unordered List</h2>
          <ul>
            <li>List item 1</li>
            <li>List item 2</li>
            <ul>
              <li>Some nested list item 1</li>
            </ul>
            <li>List item 3</li>
          </ul>
          <h2>Ordered List</h2>
          <ol>
            <li>List item 1</li>
            <li>List item 2</li>
            <ol>
              <li>Some nested list item 1</li>
            </ol>
            <li>List item 3</li>
          </ol>
          <h3>Definition List</h3>
          <dl>
            <dt>defines terms 1</dt>
            <dd>description 1</dd>
            <dt>defines terms 2</dt>
            <dd>description 2</dd>
          </dl>
          <label for="details">Details</label>
          <select id="details">
            <option value="html">HTML</option>
            <option value="css">CSS</option>
            <option value="js">JS</option>
          </select>
          <hr>
          <h2 id="formats">Text Formats</h2>
          <h3>Article Text</h3>
          <article>
            <h2>Article title</h2>
            <p>Article description</p>
          </article>
          <h3>Preformatted text</h3>
          <pre>Text
  in a pre element
    is displayed in a fixed-width
font, and it preserves
both           spaces and
    line breaks</pre>
          <h3>Code</h3>
          <pre><code>
.wrapper {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}
          </code></pre>
          <h2 id="blockq">Blockquotes</h2>
          <p>Let’s keep it simple. Italics are good to help set it off from the body text. Be sure to style the citation.</p>
          <blockquote>"If you go back a few hundred years, what we take for granted today would seem like magic-being
            able to talk to people over long distances, to transmit images, flying, accessing vast amounts of data like
            an oracle. These are all things that would have been considered magic a few hundred years ago."<br>
            <a href="elon">Elon Musk</a></blockquote>
          <hr>
          <form>
            <label for="fname">First Name:</label>
            <input type="text" id="fname"><br>
            <label for="sname">Surname:</label>
            <input type="text" id="sname"><br>
            <label for="email">Email:</label>
            <input type="email" id="email"><br>
            <textarea id="tarea" rows="10" cols="30"></textarea><br>
            <input type="submit" id="submitbtn" value="Submit" >
          </form>
          <footer>© Copyright Epam Systems</footer>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>